body {
  background-image: url("https://geocube333.github.io/animated-potato/Style/Images/D0992AA7-DE79-483F-8A26-0FBF58DBE387.jpeg");
  background-repeat: repeat;
  font-family: "New Courier", monospace, Sans-Serif;
}

#content-area {
  area: content-area;
}

#side-bar {
  area: side-area;
}

.content {
  margin: 25px;
  border-radius: 20px;
  background-image: url("https://geocube333.github.io/animated-potato/Style/Images/6060F69B-CAE0-4E84-9C4D-28B82B60C8BB.png");
  background-size: cover;
  padding: 10px;
  font-size: 2vw;
  grid: 'content-area' 'side-area';
  grid-gap: .5vw;
  
}

.content > div {
  font-size: 5vw;
}

#title {
  margin: 25px;
  padding: 0px 10px;
  text-align: left;
  font-size: 5vw;
}

#header {
  margin: 25px;
  padding: 0px 10px;
  border-radius: 20px;
  background-image: url("https://geocube333.github.io/animated-potato/Style/Images/6060F69B-CAE0-4E84-9C4D-28B82B60C8BB.png");
  background-size: cover;
  text-align: center;
  font-size: 7vw;
}
