body {
  background-image: url("https://geocube333.github.io/animated-potato/Style/Images/D0992AA7-DE79-483F-8A26-0FBF58DBE387.jpeg");
  font-family: "New Courier", monospace;
}

#Title {
  font-size: 100vw;
}
